.chord-hidden {
	/* visibility: hidden; */
	/* display: none; */
}
.chord-image img {
	height: 8.5rem;
	border-radius: var(--borderRadius);
}
.chord-image img {
	transition: transform 0.01s ease-in;
}
.imageZoom {
	justify-content: center;
	transform: scale(1.5);
}
.show-chord {
	/* position: absolute; */
	z-index: 1;
}
.show-chord:hover {
	cursor: grab;
}
