.chord-name {
  /* font-weight: bold; */

  /* font-size: 32px;  */
  /* font-family: 'Neuton'; */
  text-align: center;
  justify-self: center;
  align-content: center;
}
.chord-detail {
  --chordTextColor: var(--lightGrey);
  color: var(--textColor);
  font-size: var(--baseFontSize);
  margin: 0.25rem;
  justify-content: center;
  align-items: center;
  border: 3px var(--chordOutlineColor) solid;
  border-radius: var(--borderRadius);
  background: #282c34;
  /* height: 275px; */
  width: 10rem;
}
.chordRootSelect {
  /* width: ; */
  font-size: var(--smallText);
  height: 30px;
}
.chordRootSelect option {
}
.dark {
  /* color: var(--cardTextColor); */
}
.chord-name {
  color: var(--cardTextColor);
}
