.chord-header {
  text-align: center;
  justify-self: center;
  align-content: center;
  color: var(--cardTextColor);
}
.chord-name {
  padding: 0.25rem 1rem;
  /* background: darkred; */
}
.chord-detail {
  --chordTextColor: var(--lightGrey);
  color: var(--textColor);
  font-size: var(--baseFontSize);
  margin: 0.25rem;
  justify-content: center;
  align-items: center;
  border: 3px var(--chordOutlineColor) solid;
  border-radius: var(--borderRadius);
  height: 275px;
  width: 10rem;
}
.chordRootSelect {
  font-size: var(--smallText);
  height: 25px;
  padding: 0;
  text-align: center;
}
.chord-header .key-mode-select-con {
  display: flex;
  flex-direction: row;
  padding: 0.25rem 1rem;
  gap: 0.1rem;
  /* max-width: 100px; */
}
