.chord-hidden {
	/* visibility: hidden; */
	/* display: none; */
}
.chord-image {
	/* z-index: -99999; */
	/* padding-top: -25px; */
}
.chord-image img {
	height: 8.5rem;
	border-radius: var(--borderRadius);
}
.chord-image img {
	transition: transform 0.01s ease-in;
}
/* .imageZoom {
	justify-content: center;
	transform: scale(4);
	position: absolute;
	top: 0;
} */
.chord-image-zoom img {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform: scale(2.8);
	transition: transform 1s ease-in;
	border: 1px solid var(--chordOutlineColor);
	border-radius: var(--borderRadius);
	z-index: 99999;
}

.show-chord {
	/* position: absolute; */
	/* z-index: 1; */
}
.show-chord:hover {
	cursor: grab;
}
/* .chord-image-con {
	margin-top: -25px;
	z-index: -99999;
} */
