.chordbook,
.chordbookStarter {
	display: flex;
	justify-content: center;
	text-align: center;
}
.chordbook {
	padding-top: 1rem;
}
.chords {
	display: flex;
	width: 100%;
	justify-content: center;
	text-align: center;
	gap: 0.333rem;
	padding-top: 0.5rem;
	outline: none;
	min-height: 14rem;
}
.blur {
	animation: blurIn 0.05s forwards;
	box-shadow: var(--level-5);
	transform: scale(0.88);
}
@keyframes blurIn {
	0% {
		filter: blur(0px);
	}
	50% {
		filter: blur(0.5px);
	}
	100% {
		filter: blur(1.2px);
	}
}
.keyModeSelect {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 0.5rem;
}
.suggestedScale {
	text-transform: capitalize;
}
.chordbookHeader {
	padding: 1.25rem;
	flex-direction: column;
	align-items: center;
}

/* select + select,
select + button {
  margin-left: 0.5rem;
} */
.keyModeSubmit {
	display: flex;
	align-content: flex-end;
	width: 140px;
	/* justify-content: center; */
	/* margin-bottom: 1px; */
}
/* .list {
	height: 200px;
	width: 200px;
	color: green;
}
.chordbook-con {
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.chordbook-main {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	width: 550px;
}

.header {
	display: flex;
	font-size: 22px;
	color: lightblue;
	padding: 2%;
}
.title {
	font-size: 36px;
}
.chord-detail {
	display: flex;
	padding: 0 1%;
	text-align: center;
	flex-direction: column;
	justify-content: flex-start;
}
.add-chord {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightblue;
	height: 30px;
	width: 45px;
	padding-bottom: 4px;
	border-color: transparent;
	border-radius: 5px;
	font-size: 25px;
}
.key-mode-select-con {
	display: flex;
	justify-content: center;
}
#mode_selector,
#key_selector {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 20px;
	background-color: lightblue;
}
#mode_selector,
#key_selector,
.key-mode-submit {
	height: 30px;
	text-align: center;
}
#mode_selector {
	width: 225px;
}
#key_selector {
	width: 55px;
}
.key-mode-submit {
	background-color: #39e991;
	font-size: 18px;
	border: transparent;
	padding: 3px 3px;
	text-align: center;
}
.chord-image-con {
	align-items: center;
	justify-content: center;
}
.chord-image-con img {
	display: flex;
	justify-content: center;
	border: 3px solid lightblue;
	width: 95px;
	margin-top: 5.5%;
}
.chords {
	display: flex;
	justify-content: center;
	flex-direction: row;
} */
