/* former logo color: #39e991 */
header {
  /* margin-top: 3rem; */
  padding: 0;
  margin: 0;
  /* height: auto; */
}
.themeSelect {
  transform: rotate(-30deg);
  font-size: 2.5rem;
  /* position: sticky; */
  /* top: 0.25rem; */
  /* left: 0; */
  /* position: absolute; */
}
.settings {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: fixed;
  top: 1.25rem;
  left: 1.5rem;
}
.themeSelectForward {
  color: var(--buttonColor);
  font-size: 2.5rem;
  animation: rotateForward 0.4s forwards;
  transform: rotate(30deg);
}
.themeSelectBackward {
  font-size: 2.5rem;
  animation: rotateBackward 0.5s forwards;
}

@keyframes rotateForward {
  0% {
    /* transform: rotate(-30deg); */
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes rotateBackward {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

.logo:hover {
  filter: drop-shadow(0px 0px 5px var(--black));
}
.dark .logo:hover {
  filter: drop-shadow(0px 0px 5px var(--white));
}
/* header img {
	margin: 1rem 0;
	height: 16rem;
} */
