/* former logo color: #39e991 */

.themeSelect {
	color: var(--green);
	font-size: 2.5rem;
	transform: rotate(-30deg);
	/* animation: rotateBackward 0.3s forwards; */
}
.themeSelectForward {
	color: var(--white);
	font-size: 2.5rem;
	/* transform: rotate(50deg); */
	animation: rotateForward 0.3s forwards;
}
.themeSelectBackward {
	/* color: var(--green); */
	font-size: 2.5rem;
	animation: rotateBackward 0.3s forwards;
}

@keyframes rotateForward {
	0% {
		transform: rotate(-30deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(30deg);
	}
}
@keyframes rotateBackward {
	0% {
		transform: rotate(30deg);
	}
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-30deg);
	}
}

/* .themeSlec  */
.logo:hover {
	filter: drop-shadow(0px 0px 5px #2effee);
}
header > img {
	height: 10rem;
}
