.results {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* width: 100%; */
	/* align-content: center; */
	/* align-items: center; */
	flex-wrap: wrap;
	padding: 0;
}
.result {
	/* grid-template-columns: repeat(3, 1fr); */

	padding: 0.5em;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	text-align: center;

	width: 535px;
	margin: 0.333rem;
}
.result a {
	text-decoration: none;
	color: var(--textColor);
}
.albumImage {
	/* position: relative; */
	height: 175px;
	margin: 0.5rem;
}
.releaseTime {
	/* flex-direction: column; */
	/* align-content: flex-end; */
	justify-content: flex-end;
	gap: 2.5rem;
}
.resultName {
	flex-direction: column;
	text-align: center;
}
.resultDetails {
	/* text-overflow: ellipsis; */
	overflow: hidden;
	max-width: 25ch;
	white-space: nowrap;
	/* margin: 0.25rem; */
	padding: 0.55rem;
	flex-direction: column;
	justify-self: space-between;
	/* align-items: space-around; */
	/* max-width: 280px; */
	text-align: right;
	gap: 1em;
}
.result:hover,
.artist:hover,
.title:hover,
.albumImage:hover {
	--blurAmount: 3px;
	box-shadow: var(--level-2);
	outline: 1px var(--chordOutlineColor) solid;
	border-radius: 2px;
	position: static;
	cursor: pointer;
}
.releaseTime {
	cursor: default;
}
.title {
	font-size: var(--medText);
}
.artist {
	font-size: var(--smallText);
}
.album {
}
