.searchCon {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchInput {
  margin-top: 4%;
  width: 300px;
}

.searchButton {
  font-weight: bold;
  width: 70px;
  color: white;
  background: darkblue;
}
.searchInput,
.searchButton {
  height: 35px;
}
.resultCon {
  margin-top: 2%;
}
