body {
	font-family: 'Yantramanav', sans-serif;
}
.test {
	display: flex;
	justify-content: center;
}
.track-album-details {
	display: flex;
	align-content: flex-end;
	flex-direction: column;
	align-items: flex-end;
}
.album-cover {
	display: flex;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.55);
}
.track-track-details {
	display: flex;
	flex-direction: column;
	font-size: 22px;
}

.track-album-details {
	justify-content: flex-end;
}

.track-card {
	display: flex;
	background-size: cover;
	justify-content: space-between;
	padding: 1.5%;
}
.track-card-cover {
	background-size: cover;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.55);
	z-index: 1;
}
.track-main {
	margin-top: 2%;
	display: flex;
	justify-content: center;
}
.track-album-details h3 {
	z-index: 1;
	overflow: hidden;
}
.subtitle {
	padding-top: 6px;
}

.track-text {
	background-color: rgba(0, 0, 0, 0.55);
	overflow: hidden;
}

div.track-text {
	border-radius: 5px 5px 0px 0px;
	padding: 10px;
}
h3 > .track-text.track {
	border-radius: 0px 0px 5px 5px;
}
.album-text-con {
	padding: 4px;
	/* background-color: rgba(0, 0, 0, 0.55); */
	border-radius: 0px 0px 5px 5px;
}
.bump-text-track {
	padding: 4px;
	border-radius: 5px 5px 0px 0px;
}
.bump-text {
	padding: 1px;
}
.audio-feautres {
	display: flex;
}
.track-key,
.track-mode {
	display: flex;
	justify-content: center;
	padding-top: 15px;
	font-size: 25px;
	color: #fff;
}
.song-lyrics-con {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-self: center;
}
.song-lyrics-text-con {
	display: flex;
	justify-content: center;
}
.song-lyrics-text {
	font-size: 24px;
	text-align: center;
	width: 600px;
	/* width: 500px; */
}
.song-lyrics-footer {
	padding-top: 2%;
	font-size: 16px;
	text-align: center;
}
