body {
	/* font-family: 'Abril Fatface', cursive; */
	font-family: 'Yantramanav', sans-serif;
}
.track-album-details {
	display: flex;
	align-content: flex-end;
	/* align-items: flex-end; */
	flex-direction: column;
	/* align-self: flex-end; */
	align-items: flex-end;
}
.album-cover {
	height: 125px;
	display: flex;
	/* flex-wrap: wrap; */
	/* flex-direction: row; */
	/* align-content: center; */
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
}
.track-track-details {
	display: flex;
	flex-direction: column;
	/* justify-self: flex-start; */
	/* color: blue; */
	font-size: 22px;
	/* display: flex; */
	/* align-self: flex-end; */
}
.track-card {
	display: flex;
	width: 500px;
	height: 500px;
	/* flex-direction: column; */
	background-size: cover;
	justify-content: space-between;
	padding: 2%;
}
.track-card-cover {
	position: absolute;
	background-size: cover;
	width: 500px;
	height: 500px;
	/* overflow: hidden; */
	background-color: rgba(238, 238, 238, 0.5);
}
.track-main {
	margin: 5%;
	display: flex;
	justify-content: center;
}
