.track {
  display: flex;
  flex-direction: column;
  /* max-width: 1080px; */
}
a {
  cursor: inherit;
}
.track h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
}
h1 {
  /* font-size: 2.25rem; */
}
.chordbook-container {
  padding-bottom: 10em;
}
.chordbook-container.flex {
  /* padding: 0; */
  /* margin-top: 2.5em; */
  flex-direction: column;
  /* max-width: calc(100% - 2.5em); */
  /* margin: 0 auto; */
}
.detailCard {
  /* grid-template-columns: 45% 55%; */
  /* grid-template-columns: 37% 63%; */
  padding-top: 5rem;
  grid-gap: 2.5rem;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.details > * {
  padding: 0;
  margin: 0;
}
.details img {
  height: 12rem;
  border-radius: var(--borderRadius);
}
.trackTitle {
  overflow: hidden;
  max-width: 30ch;
  white-space: nowrap;
}
.artistImage {
  border-radius: var(--borderRadius);
}
.artistImage {
  height: 500px;
  max-width: 900px;
}
.artistImage,
.cover {
  box-shadow: var(--level-4);
}
.trackTitle,
.trackArtist,
.trackCover,
.trackAlbum,
.artistImage {
  filter: drop-shadow(0px 0px 5px black);
}
.trackTitle:hover,
.trackArtist:hover,
.trackCover:hover,
.trackAlbum:hover,
.artistImage:hover,
.trackTitle:focus,
.trackArtist:focus,
.trackCover:focus,
.trackAlbum:focus,
.artistImage:focus {
  box-shadow: var(--level-4);
  outline: 2px var(--cursorOutlineColor) solid;
  border-radius: 3px;
  /* position: static; */
  /* animation: testAnimation 0.82s infinite; */
  /* animation: blurText 0.3s forwards; */
  /* filter: blur(1px) 2s ease-in; */
}
/* .trackTitle:hover {
	max-width: none;
	animation: scroll 2s linear infinite;
} */
/* @keyframes scroll {
	from {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	to {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
} */
.trackCover:hover {
  border-radius: var(--borderRadius);
}
/* @keyframes testAnimation {
	50% {
		outline: 1px dotted orange;
	}
} */
@keyframes blurText {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(3px);
  }
  /* 20% {
		filter: blur(2.5px);
	}
	40% {
		filter: blur(5px);
	}
	60% {
		filter: blur(6px);
	}
	80% {
		filter: blur(3px);
	} */
  100% {
    filter: blur(2px);
  }
}
