/* .track-album-details {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.album-cover {
	display: flex;
	background-color: rgba(173, 216, 230, 0.55);
}
.track-track-details {
	display: flex;
	flex-direction: column;
	font-size: 22px;
}

.track-album-details {
	justify-content: flex-end;
}

.track-card {
	display: flex;
	background-size: cover;
	justify-content: space-between;
	padding: 1.25%;
	opacity: 88%;
}
.track-main {
	margin-top: 2%;
	display: flex;
	justify-content: center;
}
.track-album-details h3 {
	z-index: 1;
	overflow: hidden;
}
.subtitle {
	padding-top: 6px;
}

.track-text {
	color: black;
	padding: 3.67px;
	background-color: rgba(173, 216, 230, 0.55);
	overflow: hidden;
	border-radius: 5px 5px 5px 5px;
}

.pad-album-cover {
	border-radius: 5px 5px 5px 5px;
	padding: 10px;
	background-color: rgba(173, 216, 230, 0.55);
}
.album-text-con {
	padding: 5px;
	background-color: rgba(173, 216, 230, 0.55);
	color: black;
	font-weight: bold;
	border-radius: 5px 5px 5px 5px;
}
.audio-feautres {
	display: flex;
}
.track-key,
.track-mode {
	display: flex;
	justify-content: center;
	padding-top: 15px;
	font-size: 25px;
	color: #fff;
}
.song-lyrics-con {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-self: center;
}
.song-lyrics-text-con {
	display: flex;
	justify-content: center;
}
.song-lyrics-text {
	font-size: 24px;
	text-align: center;
	width: 600px;
}
.song-lyrics-footer {
	padding-top: 2%;
	font-size: 16px;
	text-align: center;
}
.album-cover {
	height: 125px;
	display: flex;
} */
