body {
	/* font-family: 'Abril Fatface', cursive; */
	font-family: 'Yantramanav', sans-serif;
}
.test {
	display: flex;
	/* width: 300px; */
	justify-content: center;
}
.test p {
	/* width: 600px; */
}
.track-album-details {
	display: flex;
	align-content: flex-end;
	flex-direction: column;
	align-items: flex-end;
}
.album-cover {
	/* height: 125px; */
	display: flex;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.55);
}
.track-track-details {
	display: flex;
	/* width: 90%; */
	flex-direction: column;
	font-size: 22px;
}

.track-track-details,
.track-album-details {
	/* z-index: 1; */
}
.detail-con {
	display: flex;
	font-weight: bold;
	justify-content: left;
	gap: 20px;
	padding-bottom: 4px;
}
.track-card {
	/* display: flex; */
	display: none;
	width: 600px;
	height: 600px;
	background-size: cover;
	justify-content: space-between;
	padding: 1.5%;
}
.track-card-cover {
	position: absolute;
	background-size: cover;
	width: 600px;
	height: 600px;
	/* background-color: rgba(0, 0, 0, 0.55); */
	/* z-index: 1; */
}
.detail-release {
	margin-left: 15px;
}
.track-main {
	margin-top: 5%;
	display: flex;
	justify-content: center;
}
.track-album-details h3 {
	z-index: 1;
	overflow: hidden;
}
.subtitle {
	padding-top: 6px;
}

.track-text {
	background-color: rgba(0, 0, 0, 0.55);
	overflow: hidden;
}

div.track-text {
	border-radius: 5px 5px 0px 0px;
	padding: 10px;
}
h2 > .track-text {
}
h3 > .track-text.track {
	border-radius: 0px 0px 5px 5px;
}
.album-text-con {
	padding: 4px;
	/* background-color: rgba(0, 0, 0, 0.55); */
	border-radius: 0px 0px 5px 5px;
}
.bump-text-track {
	padding: 4px;
	border-radius: 5px 5px 0px 0px;
}
.bump-text {
	padding: 1px;
}
